<div class="theme-panel hidden-xs hidden-sm">
  <div class="toggler-close"> </div>
</div>
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="index.html">Home</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span>Dashboard</span>
    </li>
  </ul>
</div>
<h1 class="page-title"> Admin Dashboard
  <small></small>
</h1>
